.top_feature {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
}
.bottom_feature {
  display: flex;

  flex-direction: column;
}

.features_head h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 18px;
  letter-spacing: -0.04rem;
  color: #fff;
  margin-top: 1rem;
  flex: 1;
}
.features_desc {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: #81afdd;
  text-align: justify;
}
.features_head div {
  width: 38px;
  height: 3px;
  background: var(--gradient-bar);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 0.25rem;
}

@media screen and (min-width: 750px) {
  .top_feature {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30%;
  }
  .features_head {
    width: 60%;
  }
  /* .bottom_feature {
    width: 30%;
  } */
}

@media screen and (min-width: 850px) {
  .bottom_feature {
    width: 30%;
  }
}
